*{
    background-color: #ffbbd2;
}

h1{
    margin: 40px 300px 100px 700px;
    font-size: 80px;
}

h2{
    margin: 40px 200px 100px 800px;
    font-size: 100px;
}

button{
    display: block;
    cursor: pointer;
    border-radius: 5px;
    border-color: black;
    color: black;
    margin: 0px 200px 0px 800px;
}